---
import '@styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = 'Контентный сайт-блог проекта «Запретные знания».',
} = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
