@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose a {
    color: #512dbd;
    text-decoration: none;
  }

  .dark .prose a {
    color: #669aed;
  }
}

html {
  scrollbar-gutter: stable;
}

.site-logo {
  mask: url("/logo.svg") center / contain no-repeat;
  -webkit-mask: url("/logo.svg") center / contain no-repeat;
}
